@font-face {
    font-family: "font";
    src: url("/Font/RonaldMendoya.otf");
}

html {
    overflow-y: hidden;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FCCBC0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

/*Page LOGIN*/

.title{
    font-family: font;
}
#login-page {
    justify-content: start;
}

#login-page header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
    height: 100%;
}

.login {
    width: 90%;
    height: 30%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#password{
    width: 100%;
    height: 30%;
    border: none;
    border-radius: 12px;
    font-size: 0.8em;
    background-color: #FBF3F1;
    padding-left: 10px;
}

#error-message {
    color: red;
    font-size: 0.5em;
    margin: 0 0 0 0;
}

.submit {
    width: 225px;
    border: 10px solid #A19B9A;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    margin:auto;
    /*style du bouton*/
    background-color: lightgrey;
    color: black;
    text-shadow: 2px 2px 3px grey;
    align-items: center;
    border-radius: 12px;
}


.submit:active {
    transform: scale(0.96);
}

.submit:hover {
    transform: scale(1.04);
    background-color: dimgrey;
    font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
    .logo{
        width: 35%;
        height: auto;
     }
    
    .login {
        width: 60%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1100px) {
    .logo{
        width: 25%;
        height: auto;
        }
    
    .login {
        margin-top: 10%;
    }
}


/*Page HOME*/

#welcome-txt {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: self-start;
    gap: 5%;
    padding-top: 5%;
    margin-left: 5%;
    font-size: 0.7em;
}

.user {
    font-weight: bold;
}

#take-order, #delivery-order {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: 0.55em;
    background-color: #FBF3F1;
}

.barre {
    margin-left: 5%;
    width: 3px;
    height: 50%;
    background-color: black;
    border-radius: 8px;
}

#take-order p, #delivery-order p {
    margin-left: 5%;
}

#order-tab {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FBF3F1;
    border-radius: 8px;
}

#delivery-tab, #delivery-subtab{
    width: 95%;
    height: 70%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FBF3F1;
    border-radius: 8px;
}


#delivery-send {
    width: 90%;
    height: 10%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding: 20%;
}

#order-tab header, #delivery-tab header {
    width: 100%;
    height: 10%;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#order-tab p, #delivery-tab p {
    font-size: 0.5em;
    margin-left: 5%;
}

.icon-cross {
    width: 40px;
    height: auto;
    margin-right: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#order-tab form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#order-tab form input, #order-tab form submit {
    height: 6%;
}

#stock-rose {
    width: 100%;
    justify-self: start;
    margin-left: 5%;
    display: flex;
    align-items: center;
    font-size: 0.6em;
}

.icon-rose {
    width: 100px;
    height: auto;
}

#stock-rose p {
    margin: 0;
}

.count {
    font-weight: bold;
}

footer {
    width: 100%;
    height: auto;
    max-height: 120px;
    background-color: #FBF3F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon-home, .icon-list {
    width: 20%;
    height: auto;
    max-width: 90px;
    margin: 10px 0 10px;
}

@media screen and (min-width: 500px) {
    #order-tab p, #delivery-tab p {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 768px) {
    #welcome-txt {
        padding-top: 2%;
        margin-left: 3%;
        gap: 2%;
    }

    #take-order, #delivery-order {
        width: 60%;
        height: 10%;
        font-size: 0.7em;
    }

    #stock-rose {
        font-size: 0.8em;
    }

    .icon-rose {
        width: 125px;
        height: auto;
    }

    #order-tab, #delivery-tab {
        width: 60%;
    }
}
